form{
  position: absolute;
  margin-top: 245px;
  margin-left: 174px;
  width: 442px;
  height: 420px;
  background: rgba(53, 73, 94, 0.69);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 19px;
  border-radius: 19px;
   }
.noteText{
position: absolute;
margin-top: 104px;
margin-left: 5px;
width: 384px;
height: 255px;
border-radius: 0px 0px 19px 19px;
background: rgba(53, 73, 94, 0.69);
font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 19px;
color: #FFFBFB;
resize: none;
padding: 20px;

}

.noteTitle{
position: absolute;
width: 420px;
height: 82px;
left: 8px;
top: 11px;
border-color: rgba(53, 73, 94, 0.69);
font-family: 'Itim';
font-style: bold;
font-size: 60px;
line-height: 77px;
border-radius: 9px 9px 0px 0px;
text-align: left;
color:#f0e3ac;
background: rgba(53, 73, 94, 0.69);

}

.buttonSave{

position: relative;
  width: 179px;
height: 64px;
left: 117px;
top: 474px;
z-index: 1;
background: #F0C419;
  border-color: #FFFF;
  border-radius: 10px;
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 18px;
  color:rgba(53, 73, 94);
}

.buttonBack{
  position: absolute;
  width: 57px;
  height: 23px;
  left: 13px;
  top: 76px;
  background-color: #FFFF;
  border-color: #FFFF;
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #35495E;
      }

  
  .iconreturn{
  position: absolute;
  width: 65px;
  height: 65px;
  left: 10px;
  top: 16px;
  
  }



::placeholder {
    color:#f0e3ac;
    opacity: 50%;
    font-size: 29px;
    font-style: italic;
    align-items: left;
    padding-left: 10px;

  }