*{
    padding: 0px;
    margin: 0px;    
}

.margin{
position: absolute;
width: 834px;
height: 1194px;
left: 0px;
top: 0px;
background: #F0C419;
border-radius: 19px;
}

.background{
position: absolute;
box-sizing: border-box;
width: 725px;
height: 1053px;
left: 47px;
top: 71px;
background: #FFFBFB;
border: 1px solid #FFFBFB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 19px;
}

.titleHome{
    position: absolute;
width: 548px;
height: 80px;
left: 86px;
top: 98px;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #35495E;
}

.insightHome{
position: absolute;
width: 484px;
height: 192px;
left: 113px;
top: 672px;
font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #35495E;
opacity: 50%;
    
    }

.idea{
position: absolute;
width: 257px;
height: 310px;
left: 220px;
top: 332px;
opacity: 50%;

    }

.logout{
position: absolute;
width: 57px;
height: 23px;
left: 641px;
top: 76px;
background-color: #FFFF;
border-color: #FFFF;
font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #35495E;
    }
.iconlogout{
    position: absolute;
width: 65px;
height: 65px;
left: 637px;
top: 16px;

}

.iconadd{
position: absolute;
width: 84px;
height: 85px;
left: 314px;
top: 900px;


}

.containerAll{
margin-top: 189px;
margin-left: 30px;
padding-bottom: 8px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 12px;    
width: 681px;
height:64px;
left: 23px;
top: 203px;


}
    
.containerNote{
align-items: space-around;
width: 284px;
height: 216px;
left: 107px;
top: 229px;
background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 19px;
text-align: center;

}  

.notesText{
    position: absolute;
    margin-top: 69px;
    padding-left: 15px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 19px;
    color: #35495E;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFF;
    
    }
    
    .notesTitle{
    padding-left: 15px;
    position: absolute;
    font-family: 'Itim';
    font-style: bold;
    font-size: 40px;
    line-height: 77px;
    text-align: center;
    text-shadow: 3px 2px 3px #efd87b;
    color: #35495E;
    
    }
    
    .buttondelete{
    position: absolute;
    width: 38px;
    height: 38px;
    margin-left: 87px;
    border-radius: 10px;
    background-color: #D9D9D9;
    transition: background-color .5s;
    }
    .buttondelete:hover{
        position: absolute;
        width: 38px;
        height: 38px;
        margin-left: 87px;
        background-color: #35495E;
        
       
        }
    
        .buttonedit{
            position: absolute;
            width: 26px;
            height: 26px;
            margin-left: -12px;
            margin-top: 146px;
        transition: background-color .5s;
        

            }

            .buttonedit:hover{
                position: absolute;
                width: 36px;
                height: 36px;
                margin-left: -12px;
                margin-top: 146px;

                
    
                }

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}
