@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&family=Zen+Loop&display=swap');

* {
  background-color: #fff5db;
}

h1 {
  display: flex;
  font-family: 'Zen Loop', cursive;
  font-size: 120px;
  justify-content: center;
}

p {
  display: flex;
  font-family: 'Zen Loop', cursive;
  font-size: 50px;
  justify-content: center;
  margin-top: -90px;
}

.firstimg {
  position: absolute;
  margin-left: 40px;
  width: 680px;
  margin-top: -60px;
}

.google {
  display: flex;
  margin-left: 240px;
  width: 280px;
  margin-top: 620px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {}

h2 {
  display: flex;
  font-family: 'Zen Loop', cursive;
  font-size: 40px;
  justify-content: center;
}

h4 {
  display: flex;
  font-family: 'Zen Loop', cursive;
  font-size: 50px;
  justify-content: center;
  margin-top: 10px;
}

.back {
  position: absolute;
  margin-left: 20px;
  width: 50px;
  margin-top: -180px;
}

.logout {
  position: absolute;
  margin-left: 700px;
  width: 50px;
  margin-top: -180px;
}

.create {
  position: absolute;
  margin-left: 70px;
  width: 630px;
  margin-top: 40px;

}

.trash {
  position: absolute;
  margin-left: 480px;
  width: 40px;
  margin-top: 540px;






}

#notes {
  display: flex;
 flex-grow: 2;  
 width: 400px;
}