/* @import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&family=Zen+Loop&display=swap');
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {}

* {
  background-color: #fff5db;
}
h3{
    position: absolute;
    margin-top: 40px;  
    margin-left: 250px;
    font-family: 'Zen Loop', cursive;
      font-size: 60px;
      }
 h6{
      position: absolute;
      font-family: 'Yaldevi';
      font-size: 40px;
      margin-top: 140px;
      margin-left: 230px;
          } */

